#main-container {
    background-color: rgb(224, 56, 134);
    background-image: linear-gradient(rgba(0,0,0,.6) 0,#121212 100%),url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9Ii43NSIgc3RpdGNoVGlsZXM9InN0aXRjaCIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGQ9Ik0wIDBoMzAwdjMwMEgweiIgZmlsdGVyPSJ1cmwoI2EpIiBvcGFjaXR5PSIuMDUiLz48L3N2Zz4=);
    -webkit-transition: background 1s ease;
    transition: background 1s ease;
    height: 100vh;
    padding: 2rem;
}

/* #page-content {
    max-height: 83vh;
} */

.profile-image {
    border-radius: 50%;
    height: 90px;
    margin: 0.5rem;
    border-bottom: 0.5rem;
}

.profile-image-container {
    display: flex;
    justify-content: center;
}

.column-container {
    background-color: #272626;
    border-radius: 8px;
    cursor: default;
    padding: 1rem;
    margin: 0.5rem;
}

.section-header {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    color: #fff;
    margin-bottom: 1rem;    
}

.section-header-heatmap {
    margin-bottom: 0rem;
}  

.app-header {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    display: block;
    flex-grow: 1;
    line-height: normal;
    min-width: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

.text-top-track {
    border: none;
    margin-block-end: 0.1em;
    line-height: 14px;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    padding-block-end: 4px;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    line-height: 1.6;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.text-recent-track {
    max-width: 100%;
}

.image-recent-track {
    margin-top: 0.25rem;
}


.subtitle-top-track {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    color: var(--text-subdued,#adadad);
    overflow: hidden;
    white-space: nowrap;
}

.title-stats {
    margin-top: 0.5rem;
    display: -webkit-box;
    max-width: 200px;
    color: #fff;
    line-height: 1.6;
    font-weight: 700;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    flex-basis: fit-content;
    margin-block-end: 0;
}

.value-stats {
    margin-block-end: 0.1em;
    display: -webkit-box;
    max-width: 200px;
    color: #fff;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

input {
    display: none;
}

.horizontal-radio {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    cursor: pointer !important;
}

.radio-container {
    cursor: pointer !important;
}

label {
    cursor: pointer !important;
}

/*Cards*/
.track-card {
    /* Add shadows to create the "card" effect */
    background-color: rgba(24,24,24);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 14px;
    --card-container-border-radius: clamp(4px,(var(--column-width,0px) - 32px) * 0.025,8px);
    -webkit-box-flex: 1;
    background: #181818;
    border-radius: calc(var(--card-container-border-radius) + 2px);
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
  }
  
  /* On mouse-over, add a deeper shadow */
  .track-card:hover {
    background-color: rgb(48, 48, 48);
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .recent-track-card {
    padding: 0.5rem;
  }

.stat-card {
    /* Add shadows to create the "card" effect */
    background-color: rgba(24,24,24);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    --card-container-border-radius: clamp(4px,(var(--column-width,0px) - 32px) * 0.025,8px);
    -webkit-box-flex: 1;
    background: #181818;
    border-radius: calc(var(--card-container-border-radius) + 2px);
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    position: relative;
    display: flex;
    justify-content: center;
}

.nav-fill .nav-item .nav-link, .nav-justified .nav-item .nav-link {
    background-color: rgb(24, 24, 24);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 14px;
    --card-container-border-radius: clamp(4px,(var(--column-width,0px) - 32px) * 0.025,8px);
    -webkit-box-flex: 1;
    background: #181818;
    border-radius: calc(var(--card-container-border-radius) + 2px);
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    color: #fff;
}

.nav-link:hover {
    background-color: rgb(48, 48, 48) !important;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.nav-link.active {
    background-color: rgb(13,110,253) !important;
}

.heatmap-buttons {
    padding-right: 0.5rem;
}

#dropdown-week {
    padding: 0.1rem;
}

.controls {
    padding-top: 3rem;
}

.link-header {
    font-size: 1.2rem;
}

a {
    color: white;
}

.about-section {
    color: white !important;
}

.icon {
    color: white;
}

.social-link {
    margin: 1rem;
    text-align: center;
}